@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --primary: #0464f6;
    --primary-foreground: #f1f5f9;

    --secondary: #f1f5f9;
    --secondary-foreground: #1e293b;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #1e293b;

    --destructive: #ef4444;
    --destructive-foreground: #f1f5f9;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0f172a;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f1f5f9;

    --card: #0f172a;
    --card-foreground: #f1f5f9;

    --popover: #0f172a;
    --popover-foreground: #f1f5f9;

    --primary: #3b82f6;
    --primary-foreground: #1e293b;

    --secondary: #1e293b;
    --secondary-foreground: #f1f5f9;

    --muted: #1e293b;
    --muted-foreground: #a1a1aa;

    --accent: #1e293b;
    --accent-foreground: #f1f5f9;

    --destructive: #7f1d1d;
    --destructive-foreground: #f1f5f9;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Montserrat", "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
